{% extends 'base.html' %}
{% block content %}
<h2>Admin Panel</h2>
<table>
  <tr><th>Username</th><th>Is Admin</th><th>Actions</th></tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.is_staff }}</td>
    <td>
      <a href="{% url 'toggle_admin' user.id %}">{% if user.is_staff %}Revoke Admin{% else %}Make Admin{% endif %}</a>
      |
      <a href="{% url 'change_user_password' user.id %}">Change Password</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
